<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" alt="icone envelope"/>
            </span>
            <h5><email endereco="rodrigo@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" alt="icone telefone"/>
            </span>
            <h5>(11) 99652-2971</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" alt="imagem home" />
            </span>
            <h5>Rua Garcia Mateus, 121 - 02353-000 - São Paulo</h5>
        </p>
    </div>
</div>